.intro {
  background: #ffffff;
  padding: 60px 0;
}

.intro_image {
  width: 100%;
}
.intro_image img {
  max-width: 100%;
}
.intro_content {
  padding-top: 24px;
}
.intro_text {
  margin-top: 33px;
}
.intro_text p {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  -ms-column-gap: 30px;
  -o-column-gap: 30px;
  column-gap: 30px;
}
